.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis 1s infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
}
@keyframes ellipsis {
  from {
    width: 2px;
  }
  to {
    width: 15px;
  }
}
.center{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .des{
    width: 100px;
    height: 32px;
  }
}

